<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"
          content="Explore Soeung Phearaneron’s portfolio: innovative web apps, open-source code, and professional insights." />
    <meta property="og:image" content="https://res.cloudinary.com/dktzt7yn1/image/upload/v1741585138/prometheus_cju1pn.png" />
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/dropdown.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
    <script src="{{ site.baseurl }}/assets/js/download.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body class="bg-gray-100 text-gray-900 min-h-screen flex flex-col">

{% include header.html %}

<main class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-10 flex-grow">
    {{ content }}
</main>

{% include footer.html %}

{% if page.show_modal %}
{% include modal.html %}
{% endif %}

</body>
</html>